.env
.venv/
__pycache__/
.pytest_cache/
audios/
models/
.streamlit/secrets.toml
**/bin/
**/obj/
**/TestResults/
portal/transcricoes/pdf/*
!portal/transcricoes/pdf/.gitkeep
portal/transcricoes/audio/*
!portal/transcricoes/audio/.gitkeep
